<div class="container">
  <h1>Stupid coaching 🚀</h1>
    <p class="subheader">Ask your coach anything:</p>
  <form class="form" action="/answer" method="get">
  <div class="input-button">
        <input class="input" type="text" name="question">
        <input class="btn btn-primary"  type="submit" value="Ask">
    </div>
  </form>
  </div>
